p {
    background-color:lightblue;
    font-size: 15px;
    font-weight: bold;
    line-height: 10px;
}



.stitle{
    font-size: 25px;
    color: blue;
    margin-top: 10px;
    margin-bottom: 10px;
}

.subtitle{
    font-size: 20px;
    color: black;
    width: 200px;
    text-align: center;
}